canvas {
width: 100%;
background-color: black;

}

img {
visibility:hidden;
position:fixed;
top:15px;
left:12px;

}canvas {
width: 100%;
background-color: black;

}

img {
display:none;
position:fixed;
top:15px;
left:12px;

}canvas {
width: 100%;
background-color: black;

}

img {

position:fixed;
top:15px;
left:12px;
visibility: hidden;
}canvas {
width: 100%;
background-color: black;

}

img {

position:fixed;
top:15px;
left:12px;
visibility: hidden;
}canvas {
width: 100%;
background-color: black;

}

img {

position:fixed;
top:15px;
left:12px;

}